body {
    background-image: url('https://i.ytimg.com/vi/75OJvlhFUMY/maxresdefault.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: left; /* Align text to the left */
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 50px 20px; /* Adjust margin for better alignment */
    display: inline-block; /* Ensure container width is respected */
}

h2 {
    margin-bottom: 20px;
    text-align: center; /* Center the title within the container */
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 10px);
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
